- content_for :jumbotron do
  .jumbotron
    .container
      .row
        .col-sm-6
          %h1 Fitofit
          %p This is a template for a simple marketing or informational website.
          %p
            %a.btn.btn-primary.btn-lg{:href => "pages/demo", :role => "button"} Try demo »
        .col-sm-6
          %img{:src => "//placehold.it/200x200"}/

.row
  .col-sm-4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. 
    %a.btn.btn-default{:href => "#", :role => "button"} View details »
  .col-sm-4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. 
    %a.btn.btn-default{:href => "#", :role => "button"} View details »
  .col-sm-4
    %h2 Heading
    %p Donec sed odio dui. Cras justo odio, dapibus ac 
    %a.btn.btn-default{:href => "#", :role => "button"} View details »
