/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%;
}

body { 
  margin-bottom: 60px;
}

.navbar {
  background-color: #1FA67A;
  margin-bottom: 0;
  border-color: #1B926C;
  border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: #B0DDCE;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
}

.img-rounded {
  height: 50px;
  width: 50px;
}

#main-container {
  margin-top: 20px;
  .homepage-icon {
    border: 1px solid #1FA67A;
    padding: 35px 40px;
    border-radius: 50%;
  }
}

@media (min-width: 1200px) {
  .jumbotron {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}

.jumbotron {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-image: url("wall2.jpg");
  background-size: cover;
  .well {
    color: #333;
    text-shadow: none;
  }
  .form-group {
    margin-bottom: 0px;
  }
}

.label {
  font-size: 100%;
  border-radius: 50%;
}

a {
  color: #1FA67A;
}

.table-striped > tbody > tr:hover {
    background-color: #1FA67A;
    color: white;
    a {
      color: white;
    }
    .btn-default {
      @extend .btn-danger;
    }
}

.dl-horizontal {
  width: 700px;
}

dt, dd {
  line-height: 2.4;
}

p > .btn-default:hover {
  @extend .btn-danger;
}

.page-header {
  margin: 10px 0px 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1FA67A;
  .fa {
    color: #333;
  }
}